.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root {
    color: white !important;
}

.css-j204z7-MuiFormControlLabel-root {
    color: white !important;
}

.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
    color: white !important;
}

.css-u4tvz2-MuiFormLabel-root {
    color: white !important;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
    color: white !important;
}

.css-13r4j3i .MuiTextField-root {
    margin: 8px !important;
    width: 65ch !important;
}